.username {
    color:white;
}
.cantidadproducto {
    color: white
}
#botonborrar {
    text-decoration: none;
    text-decoration-line: none;
    color: white;
}
.Instrumentos {
    width: 400px;
    display: flex;
    gap: 8px;
    
}
